* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Header
header {
    background-image: url(../img/img3.jpg);
    background-color: #fff;
    height: 100vh;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

header div a{
    font-size: large!important;
}

// Navbar
.navbar {
    text-align: center;
}

.navbar ul li a:hover {
    border-bottom: 2px solid #EF6D6D;
    color: #fff;
}

.navbar ul li a{
    padding-left: 20px;
}

.active {
    border-bottom: 2px solid #EF6D6D;
    color: #fff!important; 
}

.navbar-nav a {
    padding: 0;
    margin: 0;
    color: #fff;
}

// Icons
#home__a i {
    color: #EF6D6D;
}


// section_b
#home__b div {
    padding: 0;
    margin: 0;
}




#home__b li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

// section c
#home__c i::after {
 display: none;
}

// About
#about__c {
    background-color: #f4f4f4;
}

.about-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    align-items: center;

    img {
        width: 70%;
    }
}



// Contact
#contact {
    &__a {
        .form-fields {
            display: grid;
            grid-template-areas: 
            'name email'
            'subject phone'
            'message message'
            'button button'
            ;
            gap: 1rem;
            margin-bottom: 1rem;

            .name {
                grid-area: name;
            }
            .email {
                grid-area: email;
            }    
            .phone {
                grid-area: phone;
            }       
            .subject {
                grid-area: subject;
            }
            .message {
                grid-area: message;
                height: 180px;
            }          
            .btn-dark {
                grid-area: button;
            }
            .input {
                padding: .5rem 1rem;
            }
        }
    }

    &__b {
        .contact-info {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            text-align: center;
            color: #fff; 
        }
    }


}

.body__contact {
    height: 100vh;
}


.contact__body {
    height: 100vh;
}

// footer
.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    height: 5vh;
 }

 .footer p{
    margin: 0;
 }

 .footer .social {
    float: right;
 }

 .footer .social i{
    margin-right: 15px;
    font-size: 30px;
 }

 .footer .social .fa-linkedin{
    color: #007bb5; 
    cursor: pointer;
    transition: 0.7s;
 }

 .footer .social .fa-linkedin:hover{
    color: #007bb5; 
    cursor: pointer;
    transition: 0.7s;
 }

 .footer .social .fa-google{
    color: #dd4b39; 
    cursor: pointer;
    transition: 0.7s;
 }

 .footer .social .fa-google:hover{
    color: #dd4b39; 
    cursor: pointer;
    transition: 0.7s;
 }

 .footer .social .fa-twitter{
    color: #55ACEE; 
    cursor: pointer;
    transition: 0.7s;
 }

 .footer .social .fa-twitter:hover{
    color: #55ACEE; 
    cursor: pointer;
    transition: 0.7s;
 }

 .footer .social .fa-github:hover{
    color: #fff; 
    cursor: pointer;
    transition: 0.7s;
 }

 .footer .footer__text {
    float: left;
 }
